html[dir='rtl'] {
  //
  footer .wrapper-icon:not(:last-child) {
    margin-left: 10px;
    margin-right: 0;
  }

  //
  input {
    //
    &::placeholder {
      text-align: right;
    }
  }

  //
  .how::after {
    left: 0;
    right: auto;
  }

  .details {
    margin-right: auto;
    margin-left: 0 !important;
  }

  //
  .button-play {
    margin-left: 10px;
    margin-right: 0 !important;
  }

  .asd__wrapper {
    z-index: 99999 !important;
    top: 35px !important;
    left: 50% !important;
    transform: translateX(-50%);
    //
    @media (min-width: 992px) {
      top: -25px !important;
      right: -100px !important;
      transform: translateX(0);
    }

    @media (max-width: 444px) {
      top: 44px !important;
      left: 38% !important;
      transform: translateX(-50%);
      right: auto !important;
    }
  }

  .visible {
    left: 0;
    right: auto;
  }

  .custom-control-inline {
    margin-left: 1rem;
    margin-right: 0;
  }

  .check-box {
    margin-right: -8px;
    margin-left: 5px;
  }
}
