$theme-colors: (
  primary: #ffffff,
  secondary: #000000,
  third: #30a08b,
  forth: #858585,
  fifth: #556272,
  sixth: #707070,
  seventh: #067d62,
  eighth: #ffc850,
  ninth: #a2a2a2,
  tenth: #f2f8fc,
  eleventh: #22262a,
  twelveth: #e7f5f8,
  thirdenth: #4ccab2,
  fortenth: #cadbd9,
  sixtenth: #030303,
  sevententh: #04634d,
  eightenth: #045845,
  ninetenth: #c5dad5,
  twenty: #317666,
  twentyOne: #317668,
  twentyTwo: #04654e,
  twentyThree: #c4c4c4,
  twentyFour: #616161,
  twentySix: #6cb2a3,
  twentySeven: #eceff1,
  twentyEight: #475993,
  twentyNine: #057d63,
  thirty: #ffe7e6,
  bookNow: rgba(112, 112, 112, 0.72),
  facebook: #3b5997,
  twitter: #55acee,
  linkedin: #0079b9,
  instagram: #511a96,
  youtube: #d42528,
);

//
$spacers: (
  10: 150px,
  90: 90px,
  29: 29px,
  55: 55px,
  64: 64px,
  123: 123px,
  40: 40px,
  35: 35px,
  52: 52px,
  84: 84px,
  48: 48px,
  53: 53px,
  70: 70px,
);

//
$sizes: (
  172: 172px,
  50: 50px,
  33: 33px,
  269: 269px,
  188: 188px,
  110: 110px,
  457: 457px,
  262: 262px,
  221: 221px,
  145: 145px,
  88: 88%,
  39: 39px,
  90: 90%,
  167: 167px,
);

//
$svg: (
  13: 13px,
  39: 39px,
  16: 16px,
  70: 70px,
);

//
$font-size: (
  60: 60,
  40: 40,
  22: 22,
  18: 18,
  16: 16,
  17: 17,
  15: 15,
  13: 13,
  14: 14,
  12: 12,
  20: 20,
  30: 30,
  25: 25,
);

//
$font-weight: (
  extraBold: 600,
  bolder: 500,
  light: 400,
);

$line-height: (
  2: 2.5,
);

//
$width: (
  90: 90%,
  80: 80%,
  70: 70%,
  50: 50%,
  60: 60%,
  40: 40%,
);

//
$basis: (
  30: 30%,
  47: 47%,
  130: 130px,
  221: 221px,
  178: 178px,
  167: 167px,
  182: 182px,
);

//
$shadow: (
  btn: 0 3px 6px 0 rgba(0, 86, 57, 0.15),
  card: 0 12px 12px 0 rgba(0, 0, 0, 0.07),
  card-review: 0 5px 6px 0 rgba(0, 0, 0, 0.16),
  image: 2px 5px 10px 0 rgba(0, 0, 0, 0.6),
  calendar: 0 3px 6px 0 rgba(0, 0, 0, 0.13),
  google: 0 3px 6px 0 rgba(0, 0, 0, 0.16),
  facebook: 0 3px 6px 0 rgba(71, 89, 147, 0.16),
);
