// Add class Shadow
@each $nameBasis, $basis in $basis {
  .basis-#{$nameBasis} {
    flex-basis: #{$basis};

    @if ($nameBasis == '30' or $nameBasis == '47') {
      // Responsive
      @media only screen and (max-width: 992px) {
        flex-basis: 49%;
      }
      @media only screen and (max-width: 600px) {
        flex-basis: 100%;
      }
    }
  }
}

// Add class shadow
@each $nameShadow, $shadow in $shadow {
  .shadow-#{$nameShadow} {
    box-shadow: #{$shadow};
  }
}

// Add class resize svg
@each $nameSizeSvg, $size in $svg {
  .svg-#{$nameSizeSvg} {
    width: #{$size};
    height: #{$size};
  }
}
