//
@each $nameSize, $size in $font-size {
  .text-#{$nameSize} {
    font-size: #{$size}px;
    line-height: #{$size * 1.7}px;

    @if $nameSize == 40 {
      @media only screen and (max-width: 600px) {
        font-size: #{$size - 10}px;
        line-height: #{($size - 10) * 1.7}px;
      }
    }
  }
}
//
@each $nameLineHeight, $size in $line-height {
  .line-#{$nameLineHeight} {
    line-height: #{$size};
  }
}
//
@each $nameWeight, $size in $font-weight {
  .weight-#{$nameWeight} {
    font-weight: #{$size};
  }
}
