// Obj img
.obj-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.obj-image-auto {
  width: auto !important;
}

.obj-image-height {
  height: auto !important;
}

.direction-ltr {
  direction: ltr;
}

.user-select {
  user-select: none;
}

.cursor {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}
