//
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

//
html {
  box-sizing: border-box;
  // height: 10000px;
  scrollbar-color: var(--thirdenth) var(--primary);
  scrollbar-width: 3px;
}

//
body {
  font-family: Poppins, 'sans-serif';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;

  //
  @media (max-width: 992px) {
    margin-top: 70px;
  }
}

//
html[dir='ltr'] {
  //
  body {
    direction: ltr;
    text-align: left;
  }
}

///////////////////////////////
//// Change style scrollbar
//
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thirdenth);
  border-radius: 0;
}

//
::selection {
  background-color: var(--third);
  color: var(--primary);
}

//
h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

img {
  pointer-events: none;
}
